*{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body{
	background-color: #4a6163;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
	background: #4a6163;
}
::-webkit-scrollbar-thumb:hover{
}
.hd{
	font-size: 20px;
	z-index: 2;
	font-family: 'Raleway';
	top: 0;
	position: sticky;
  background-image: linear-gradient(to right, #ffc94b, #f9a66c, #f17a7e);
	text-align: right;
	padding-right: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.hd ul li{
	display: inline-flex;
}
.hd ul li a{
	padding: 16px;
	text-decoration: none;
	color: #4a6163;
}

@keyframes btn{
	0%{background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 100%, #ffc94b 100%, #ffc94b 100%, #4a6163 100%);}
	25%{background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 80%, #ffc94b 90%, #ffc94b 92.5%, #4a6163 92.5%);}
	50%{background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 72.5%, #ffc94b 82.5%, #ffc94b 85%, #4a6163 85%);}
	75%{background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 60%, #ffc94b 75%, #ffc94b 77.5%, #4a6163 77.5%);}
	100%{background-image: linear-gradient(
		135deg,  
		rgba(0, 0, 0, 0) 50%, 
		#ffc94b 65%, 
		#ffc94b 70%, 
		#4a6163 70%);
	}
}
.hd ul li:hover a{
	animation: 0.09s btn linear;
	background-image: linear-gradient(
		135deg,  
		rgba(0, 0, 0, 0) 50%, 
/* 		#ffc94b 65%,  */
		#ffc94b 70%, 
		#4a6163 70%);
    color: #f9faf4;
}
.home{
	margin-top: -50px;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	font-family: 'Fugaz One';
	background-image: linear-gradient(
		-6deg, 
	  #4a6163 21%,
/* 	  #4a6163 21.2%, 
	  #4a6163 24.2%,  */
		#f9faf4 21.15%
	);
}
.home h1{
	color: #f9a66c;
	opacity: 0;
	animation: 0.65s showw1 linear forwards;
}
.home span{
  color: #4a6163;
	font-size: 30px;
	line-height: 20px;
	font-family: 'Raleway';
}
.home p{
	margin-top: -10px;
	opacity: 0;
	animation: 0.35s showw linear forwards;
	animation-delay: 1.1s;
	font-family: 'Raleway';
	font-size: 30px;
	font-style: oblique;
	color: #4a6163;
}
.home hr{
	width: 330px;
	margin: 0 auto;
	background-color: #4a6163;
	opacity: 0;
	animation: 1.5s showwhr linear forwards;
	animation-delay: 1.1s;
	height: 1px;
	border: 1px solid #4a6163;
}
.home i{
	opacity: 0;
	color: #4a6163;
	animation: 0.2s showwi linear forwards;
	animation-delay: 2.55s;
}
@keyframes showw1{
	0%{opacity: 0; font-size: 200%;}
	20%{opacity: 0; font-size: 200%;}
	50%{opacity: 1; font-size: 305%;}
	55%{opacity: 1; font-size: 320%;}
	60%{opacity: 1; font-size: 325%;}
	65%{opacity: 1; font-size: 328%;}
	77.5%{opacity: 1; font-size: 330%;}
	90%{opacity: 1; font-size: 328%;}
	95%{opacity: 1; font-size: 320%;}
	100%{opacity: 1; font-size: 300%;}
}
@keyframes showw{
	0%{transform: translateX(-30px); opacity: 0;}
	100%{transform: translateX(0px); opacity: 1;}
}
@keyframes showwhr{
	0%{opacity: 0;}
	50%{opacity: 1;}
	90%{width: 330px; opacity: 1;}
	100%{width: 100px; opacity: 0;}
}
@keyframes showwi{
	0%{transform: translateY(15px); opacity: 0;}
	100%{transform: translateY(0px); opacity: 1;}
}
.sobre{
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	font-family: 'Fugaz One';
	background-image: linear-gradient(
		174deg, 
		#4a6163 65%, 
		#f9faf4 75%
	);
}
.sobreme{
	color: #f9a66c;
	margin: 0px auto;
	padding-top: 20px;
	font-size: 39px;
	margin-bottom: 35px;
}
.info{
	font-family: 'Raleway';
	margin: 0px auto 15px;
	width: 78%;
	font-size: 20px;
	line-height: 28px;
	color: #f9faf4;
}
.info a{
	color: #f9faf4;
	text-decoration: none;
}
.info a span{
	font-family: 'Poppins';
}
.sobre img{
	border-radius: 50%;
	border: 10px solid #f9faf4;
}
.subcontainsobre{
	margin: 0 auto 35px;
	display: flex;
	width: 400px;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	font-size: 30px;
}
.subcontainsobre a{
	width: 50px;
  color: #f9faf4;
	font-size: 35px;
	border-bottom: 3px solid transparent;
	transition: 0.2s ease-in-out;
	box-shadow: none;
	padding: 10px;
}
.subcontainsobre a:hover{
	color: #ffd166;
	width: 80px;
	border-bottom: 3px solid #ffc94b;
}
.skill{
	padding-bottom: 80px;
	text-align: center;
	font-family: 'Fugaz One';
	background-color: #f9faf4;
}
.skname{
	color: #f9a66c;
	margin: 0px auto;
	padding-top: 20px;
	font-size: 39px;
	margin-bottom: 35px;
}
.skillsets{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	min-width: 400px;
	justify-content: space-around;
}
.sk{
	width: 25%;
	min-width: 170px;
	height: 160px;
	margin: 25px 15px 25px 15px;
	box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
	line-height: 25px;
	background-color: #f7f8f2;
	color: #4a6163;
	font-family: 'Montserrat';
	border-radius: 10px;
}
.sk i{
	color: #ffc94b;
	font-size: 60px;
}
.proj{
	padding: 30px;
	padding-top: 50px;
	text-align: center;
  position: relative;
  z-index: 10;
	background-image: linear-gradient(to right, #ffc94b, #f9a66c, #f17a7e);
}
.prname{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 16px;
	font-family: 'Fugaz One';
	font-size: 39px;
	border-bottom: 2px solid #4a6163;
	color: #4a6163;
}
.prname a{
	color: #4a6163;
}
.prname span{
	position: absolute;
	font-style: normal;
	font-weight: bold;
	transition: 0.5s;
	margin-left: 5px;
	color: transparent;
}
.prname:hover span{
	animation: gh 0.95s linear infinite;
}
@keyframes gh{
	0%{margin-left: 0px; opacity: 0; color: #4a6163;}
	30%{margin-left: 6px; opacity: 1; color: #4a6163;}
	50%{margin-left: 8.6px; opacity: 1; color: #4a6163;}
	80%{margin-left: 10.2px; opacity: 1; color: #4a6163;}
	100%{margin-left: 11.4px; opacity: 0; color: #4a6163;}
}
.prlist{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
	grid-column-gap: 60px;
	width: 100%;
}
.pritem{
	height: 330px;
	border-radius: 10px 10px 0 0;
	margin-top: 35px;
}
.pritem img{
	width: 100%;
	height: 75%;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
	box-sizing: border-box;
}
.pritem a{
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins';
}
.des{
	background-color: #4a6163;
	padding: 10px;
	font-size: 23px;
	margin-top: -11px;
	transition: 0.15s;
	border-radius: 0 0 8px 8px;
  color: #f9faf4;
	box-shadow: 0 5px #2c393a;
}
.code{
	transition: 0.3s;
	color: transparent;
}
.pritem a:hover .code{
  color: #f17a7e;
}
.pritem a:hover .des{
	margin-top: -7px;
}
.cont{
  position: relative;
  z-index: 10;
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #4a6163;
	font-family: 'Raleway';
}
.contname{
	width: 70%;
	margin: 0 auto;
	padding: 16px;
	font-size: 39px;
  color: #f9a66c;
	font-family: 'Fugaz One';
	margin-bottom: 35px;
}
.contname i{
	font-size: 82%;
}
.contain{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.link, .social{
	width: 450px;
	padding: 20px;
	padding-bottom: 60px;
	text-align: center;
}
.subname{
	z-index: 1;
	margin: 0px auto;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border: 5.5px double #ffc94b;
	transform: rotate(45deg);
	animation: spin 4.2s linear infinite;
}
@keyframes spin{
	0%{transform: rotate(45deg);}
	3%{transform: rotate(30deg);}
	6%{transform: rotate(25deg);}
	9%{transform: rotate(22deg);}
	12%{transform: rotate(21deg);}
	15%{transform: rotate(25deg);}
	30%{transform: rotate(225deg);}
	33%{transform: rotate(240deg);}
	36%{transform: rotate(245deg);}
	39%{transform: rotate(248deg);}
	42%{transform: rotate(249deg);}
	45%{transform: rotate(245deg);}
	50%{transform: rotate(225deg);}

	100%{transform: rotate(225deg);}
}
.subdes{
	font-size: 25px;
  color: #f9faf4;
	margin-bottom: 60px;
	margin-top: 15px;
}
.subcontain{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: 30px;
	border-radius: 10px;
	box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
}
.subcontain a{
	font-size: 30px;
  color: #f9a66c;
	text-decoration: none;
	padding: 10px;
	background-color: transparent;
	border-bottom: 3px solid transparent;
}
.subcontain a:hover{
	border-bottom: 3px solid #ffc94b;
}
.social .subcontain a{
	width: 40px;
	transition: 0.25s;
}
.social .subcontain a:hover{
	width: 55px;
}
.copy{
  position: sticky;
  bottom: 0;
  z-index: -2;
	background-image: linear-gradient(45deg, #ffc94b 20%, #4a6163 75%, #4a6163);
	padding: 20px;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: lighter;
	text-align: center;
	color: #edf5e1;
}

@media (max-width: 800px) {
	[class*="hd"] {
		font-size: 15px;
		padding-right: 0px;
		text-align: center;
	}
	.info{
		font-size: 16px;
	}
	.hd ul li a{
		margin-left: 0px;
	}
	.link, .social{
		width: 390px;
		padding: 20px;
		padding-bottom: 60px;
		text-align: center;
	}
	.subcontain a{
		font-size: 21px;
	}
	.subcontainabout{
		width: 350px;
	}
	.subcontainabout a{
		font-size: 21px;
	}	
	.social .subcontain a:hover{
		width: 47px;
	}
	.prname span{
	animation: gh 0.95s linear infinite;
	}
}